In [72]:
import sqlite3

In [83]:
conn = sqlite3.connect('./test.db') 
'''
conn = sqlite3.connect(':memory:')    # 메모리 DB 접속(일회성)
'''

"\nconn = sqlite3.connect(':memory:')    # 메모리 DB 접속(일회성)\n"

In [84]:
cur = conn.cursor()
cur.execute('CREATE TABLE IF NOT EXISTS Eagles \
    (back_no INT NOT NULL, \
     name TEXT, \
     position TEXT, \
     hands TEXT, \
     highschool TEXT, \
     height INT, \
     PRIMARY KEY(back_no));')

In [85]:
cur = conn.cursor()
cur.execute("INSERT INTO Eagles VALUES \
    (1, '하주석', '내야수', '우투좌타', '신일고', 184), \
    (28, '양성우', '외야수', '우투좌타', '충암고', 177);")

OperationalError: database is locked

In [ ]:
conn.commit()

In [87]:
import pandas as pd
players = pd.read_csv('./players.csv', encoding='EUC-KR')
players

   13    최재훈   포수  우투우타     덕수고  178
0  30  제라드호잉  외야수  우투좌타  톨레도대학교  190
1  50    이성열  내야수  우투좌타     효천고  185
2  52    김태균  내야수  우투우타   천안북일고  185
3  57    정우람   투수  좌투좌타    경남상고  181
4  43    정은원  내야수  우투좌타     인천고  177
5  27    변우혁  내야수  우투우타     북일고  185
6  37    노시환  내야수  우투우타     경남고  185
7  66    유장혁  외야수  우투우타    광주일고  186
8  14    강경학  내야수  우투좌타   광주동성고  181

In [86]:
conn.commit

In [88]:
conn.close()